{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>About Us</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate fuga ex ducimus. Veritatis nesciunt, et dicta quidem at doloribus fugiat suscipit autem deleniti provident accusantium consectetur dignissimos veniam non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate fuga ex ducimus. Veritatis nesciunt, et dicta quidem at doloribus fugiat suscipit autem deleniti provident accusantium consectetur dignissimos veniam non.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate fuga ex ducimus. Veritatis nesciunt, et dicta quidem at doloribus fugiat suscipit autem deleniti provident accusantium consectetur dignissimos veniam non.</p>

{% endblock %}